# Remix compiler artifacts
**/artifacts/
**/artifacts/**

# Remix plugin state folders
deps/
states/

# Debug info
*.dbg.json
*.tsbuildinfo

# Optional
.env
.env.local
/.idea/.gitignore
/.idea/contract.iml
/.idea/modules.xml
/.idea/vcs.xml
